.headerContainer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.headerRightSide {
    display: flex;
    align-items: center;
    gap: 20px;
}
