.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.headerRightSide {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}

@media (max-width: 900px) {
    .authMode .headerMobile {
        justify-content: center;
    }
}