version: "3.9"

services:
  web:
    image: nerocrunch/memora:latest
    container_name: memora_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/memora
      - NODE_ENV=production
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: memora_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: memora
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
