.searchBarContainer {
    position: relative;
}

.searchBarIcon {
    position: absolute;
    pointer-events: none;
    transform: translateY(15px);
    left: 15px;
    z-index: 1;
    color: #817f85;
}

.searchBar {
    background: #FFE5E0;
    height: 55px;
    width: 320px;
    border-radius: 50px;
    padding: 20px 10px 20px 45px;
    outline: none;
}

@media (max-width: 900px) {
    .searchBar {
        background: #FFE5E0;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        padding: 20px 10px 20px 45px;
        outline: none;
    }

    .searchBarContainer {
        width: 100%;
        position: relative;
    }
}


