.reportChartContainer {
    background-color: #fde7d9;
    border-radius: 30px;
    padding: 20px;
}

.reportChart {
    margin-left: -25px;
    outline: none !important;
    height: 250px !important;
}

.reportChartLegend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reportChartLegendDots {
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    min-width: 5px;
    min-height: 5px;
}

.reportChartContainer :global(.recharts-wrapper *:focus) {
    outline: none;
}

.reportChartLegend {
    display: flex;
    gap: 20px; /* space between items */
    margin-top: 10px;
    margin-left: 17px;
    font-size: 14px;
    align-items: center;
}

@media (max-width: 900px) {
    .reportChart {
        height: 200px !important;
        font-size: 12px;
    }

    .reportChartLegend {
        font-size: 12px;
    }
}


.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
}

.dotVeryLow {
    background-color: #f87171; /* same as line color */
}

.dotLow {
    background-color: #fbbf24;
}

.dotMid {
    background-color: #60a5fa;
}

.dotHigh {
    background-color: #4ade80;
}
