.cardsFooter {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsFooter h2 {
    font-size: 24px;
    font-weight: 500;
}

.cardsFooterButtons {
    display: flex;
    gap: 15px;
}

.cardsFooterButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    height: 55px;
    width: 55px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease-in, color 200ms ease-in, transform 200ms ease-in;

    &:disabled {
        background-color: #afaeae !important;
        cursor: default;
    }
}