.authLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.authMain {
    justify-content: space-between;
    padding: 70px;
    align-items: center;
    height: calc(100% - 175px);
    display: flex;
}

@media (max-width: 1250px) {
    .authMain {
        padding: 0; /* smaller padding */
    }
}



