.cardListLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 200px);
}

.cardListFallback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 200px);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
