.deckContainer {
    background: #ffe9db;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 135px;
    border-radius: 15px;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
}

@media (max-width: 900px) {
    .deckContainer {
        height: 105px;
        width: 100%;
    }
}

.deckCount {
    color: #6b6b6b;
}

.deckName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 35px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .deckName {
        line-clamp: 1;
        -webkit-line-clamp: 1;
    }
}

.deckOwner {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.deckOwnerImage {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
    height: 30px;
    width: 30px;
}