.decksGrid {
    display: flex;
    gap: 10px;
}

@media (max-width: 900px) {
    .decksGrid {
        flex-wrap: wrap;
    }
}

.deckFallback {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
}