.decksGrid {
    display: flex;
    gap: 10px;
}


.deckFallback {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
}

.lastSharedDecksTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastSharedDecksList {
    display: none;
}


@media (max-width: 900px) {
    .decksGrid {
        flex-wrap: wrap;
    }

    .lastSharedDecksList {
        display: block;
    }

    .lastSharedDecksArrow {
        display: none;
    }
}