.authCardContainer {
    position: relative;
    width: 300px; /* smaller width */
    padding: 16px 18px; /* smaller padding */
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #333;
    overflow: hidden;
}

.langPill {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 10px;
    width: 28px;
    background: #4d4c4c;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50px;
    font-size: 10px;
    line-height: 1;
    font-weight: 500;
    box-shadow: 0 1px 0 rgb(63, 63, 63);
}

/* typography to match hierarchy in the screenshot */
.front {
    font-size: 16px;
    font-weight: 500;
}

.back {
    font-size: 16px; /* translation: a bit larger & bolder */
    font-weight: 500;
}

.context {
    font-size: 16px; /* muted description */
}

.authCardContainer:nth-child(2) {
    transform: translateX(150px);
}